<%- include('./partials/header', {title: 'Mukti Wijaya Fibretech - Tentang Kami Mukti Wijaya Fibretech', position: 'about'}) %> 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('./assets/img/frp1.jpg'); background-attachment: fixed;">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Tentang Kami</h2>
        <ol>
          <li><a href="/">Beranda</a></li>
          <li>Tentang Kami</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- Construction -->
    <section id="about-us" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Muktiwijaya Fibretech</h2>
        </div>
        
        <div class="row gy-4">
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="./assets/img/tanki1.jpg" alt="" width="100%">
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <p>CV. Mukti Wijaya Fibretech didirikan dengan maksud dan tujuan memberikan kualitas yang terbaik dalam produk Fiberglass Reinforced Plastic(FRP).<br><br>
              Kami berkomitmen menyediakan produk dengan kualitas tinggi, harga yang kompetitif, tepat waktu dan memberikan pelayanan yang terbaik bagi pelanggan kami.</p>
              <h5>Visi</h5>
              <p class="fst-italic">Kepuasan pelanggan adalah kepuasan kami</p>
              <h5>Misi</h5>
              <p class="fst-italic">Meyakinkan bahwa pelayanan yang di berikan memenuhi standart mutu dan terpenuhinya kebutuhan pelanggan</p>
          </div>
        </div>
      </div>
    </section><!-- End Constructions Section -->

    <!-- Material -->
    <section id="material" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Bahan Baku</h2>
          <p>Kami sangat selektif dalam menggunakan bahan baku(resin, chopped strand mat, woven roving, veil, erosil) dan komponen lainya untuk memproduksi produk FRP yang berkualitas, dengan brand yang sudah banyak di kenal.</p>
        </div>
        
        <div class="row gy-4">

        </div>
    
      </div>
    </section><!-- End Material Section -->
    
  <!-- patnership -->
    <section id="patnership">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Customer</h2>
          <p>Customer yang telah kami tangani</p>
        </div>
        
        <div class="row gy-4">
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/6.jpg" alt="telkomsel" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/ABIPRAYA.jpg" alt="abipraya" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/logo pertamina.png" alt="pertamina" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/logo_honda.jpg" alt="honda" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/OJK_Logo.png" alt="ojk_logo" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/pp persero.jpg" alt="persero" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/pt-wijaya-karya-persero-tbk.jpg" alt="pt.wijaya-karya-persero-tbk" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/rsud biak.jpg" alt="rsud-biak" width="100%">
          </div>
          <div class="col-lg-2 col-sm-3">
            <img src="./assets/img/kemitraan/rsud bogor.jpg" alt="rsud-bogor" width="100%">
          </div>
        </div>
    
      </div>
    </section><!--patnership -->

  </main><!-- End #main -->

  <%- include('./partials/footer') %> 