<%- include('./partials/header', {title: 'Mukti Wijaya Fibretech - Beranda Mukti Wijaya Fibretech', position: 'home'}) %> 

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <img src="/assets/img/logo.png" class="mt-5" alt="muktiwijaya.logo" width="80%">
            <p class="fs-1">MUKTI WIJAYA FIBRETECH</p>
            <p class="fs-5">Enginering And Manufacture FRP Product</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#about-us" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/hero-carousel-1.jpeg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/tanki1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/tanki2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(assets/img/tanki1.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">
    <!-- ======= Constructions Section ======= -->
    <section id="about-us" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Muktiwijaya Fibretech</h2>
        </div>
        
        <div class="row gy-4">
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="/assets/img/tanki2.jpg" alt="" width="100%">
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <p>CV. Mukti Wijaya Fibretech didirikan dengan maksud dan tujuan memberikan kualitas yang terbaik dalam produk Fiberglass Reinforced Plastic(FRP).<br><br> Kami berkomitmen menyediakan produk dengan kualitas tinggi, harga yang kompetitif, tepat waktu dan memberikan pelayanan yang terbaik bagi pelanggan kami.</p>
              <a data-aos="fade-up" data-aos-delay="200" href="/about" class="btn btn-warning rounded-1 mt-lg-5">Tentang Kami</a>
          </div>
        </div>
      </div>
    </section><!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>MWF Panel Tank</h2>
        </div>

        <div class="row gy-4">
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <p>FRP Panel Tank di produksi dengan menggunakan material fiberglass terbaik yang bermutu dan berkualitas tinggi. Yaitu kombinasi antara Reinforcement (chopped stand mat, woven roving) dan plyester resin serta beberapa material tambahan(gelcoat & UV). MWF Panel Tank memiliki molding yang Baik sehingga menghasilkan modul panel yang halus serta mengkilap.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="/service" class="btn btn-warning rounded-1 mt-lg-5">Layanan Kami</a>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="./assets/img/tank.jpg" alt="" width="100%">
          </div>

         </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Horizontal Tank</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Roof Tank / Ground Water Tank</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>FRP STP TANK</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>FRP CYLINDER / HORIZONTAL TANK</h3>
                <p class="fst">
                  FRP cylinder tank, sebelum ada tangki panel, tangki cylinder lebih dulu terkenal atau lebih sering digunakan, hanya karena biayanya lebih mahal dan biaya ekspedisinya juga lebih mahal maka tangki ini sudah sangat jarang digunakan dalam kapsitas besar, kecuali untuk penampungan cairan kimia atau air laut. Tangki ini sering juga di gunakan di ruumah-rumah atau ruko-ruko karena biasanya kebutuhan rumah atau ruko kecil maka tangki ini sangat cocok digunakan, dan perawatannya pun sangat mudah.
                </p>
                
                <a data-aos="fade-up" data-aos-delay="200" href="frpcylindertank" class="readmore stretched-link">Selengkapnya <i class="bi bi-arrow-right"></i></a>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="./assets/img/tankCylinder.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>FRP PANEL TANK (Roof Tank / Ground Water Tank)</h3>
                <p class="fst">
                  Tangki panel atau yang biasa disebut Roof tank atau Ground tank, tangki ini biasa digunakan di apartemen-apartemen, gedung-gedung kantor atau mall-mall dan juga pusat perbelanjaan, kapasitasnya yang besar dan pemasangannya yang mudah membuat tangki panel ini sangat cocok digunakan untuk gedung-gedung besar dan juga pengirimannya yang mudah untuk kedaerah-daerah dan juga cost biaya yang lebih murah jika dikirimkan keluar kota. 
                </p>
                <a data-aos="fade-up" data-aos-delay="200" href="/frppaneltank" class="readmore stretched-link">Selengkapnya <i class="bi bi-arrow-right"></i></a>
              </div>
              
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/tanki2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>FRP STP TANK</h3>
                <p class="fst">
                  Limbah domestik saat ini menjadi masalah yang sangat serius di Indonesia. STP BIOVIT mempunyai sistem yang sangat efisien karena menggunakan proses BIOLOGICAL TREATMENT YANG LENGKAP (anaerobic dan aerobic treatment). Dengan efektivitas yang tinggi tersebut maka kebutuhan oksigen pada proses aerasi lebih kecil sehinggga pemakaian air blower lebih kecil juga yang berdampak pada penghematan pemakaian listrik.
                </p>
                <a data-aos="fade-up" data-aos-delay="200" href="frpstptank" class="readmore stretched-link">Selengkapnya <i class="bi bi-arrow-right"></i></a>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/stp.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

<%- include('./partials/footer') %> 